# data
# rl
gym==0.9.2
tensorflow-gpu==1.2.0
# for mpi4py youo need libopenmpi-dev
mpi4py
https://github.com/wassname/baselines/archive/676b6f0b18fe9855579cb271484dcdf118e2588c.zip
https://github.com/farizrahman4u/keras-contrib/archive/15133077af4d9c379c8219574898ce29cae12e48.zip
h5py==2.7.0
keras-rl==0.3.0
keras-tqdm==2.0.1
# use my branch with prioritised ppo, untill mergeed
https://github.com/wassname/tensorforce/archive/merged_6b.zip
# numbers
tables==3.4.2
seaborn==0.7.1
pandas==0.20.3
numpy==1.12.1
matplotlib==2.0.0
# misc
tqdm==4.11.2
seaborn==0.7.1
